body {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: inherit;
}

input.flatpickr-input {
  width: 272px;
  border: 1px solid gray;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input.flatpickr-input:hover {
  border: 1px solid black;
}

input.flatpickr-input:active,
input.flatpickr-input:focus {
  outline-color: #4e75ff;
}

input.flatpickr-input:disabled {
  background: #fafafa;
  color: #808080;
  cursor: auto;
}

input.flatpickr-input,
button[data-start] {
  padding: 8px 16px;
}

button[data-start] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  transition: background 150ms linear;
}

button[data-start]:disabled,
button[data-start]:disabled:hover {
  background: #cfcfcf;
  color: #989898;
  cursor: auto;
}

button[data-start]:hover {
  cursor: pointer;
  background: #6c8cff;
}

.timer {
  display: flex;
  column-gap: 24px;
  margin-top: 32px;
}
.timer > .field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.field > .value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field > .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
